<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admin-layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
    <div class="wrapper wrapper--w680">
        <div class="card card-4">
            <div class="card-body">
                <h2 class="title">Thêm mã giảm giá</h2>
                <div class="alert alert-danger" th:if="${message != null}" th:text="${message}"></div>
                <form method="POST" id="formDiscountCode" th:action="@{/admin/discount-code-save}" th:object="${DiscountCode}">
                    <div class="row mt-3">
                        <div class="col-sm-4">
                            <label class="control-label">
                                Mã giảm giá
                            </label>
                            <span class="red_require"> *</span>
                            <input type="text" class="form-input" th:field="*{code}" placeholder="VD: BIRTHDAY2023" required>
                        </div>
                        <div class="col-sm-4">
                            <label class="control-label">
                                Ngày áp dụng
                            </label>
                            <span class="red_require"> *</span>
                            <input type="date" class="form-input" th:field="*{startDate}" required>
                        </div>
                        <div class="col-sm-4">
                            <label class="control-label">
                                Ngày kết thúc
                            </label>
                            <span class="red_require"> *</span>
                            <input type="date" class="form-input" th:field="*{endDate}" required>
                        </div>
                    </div>
<!--                    <div class="row mt-3">-->
<!--                        <div class="col-sm-12">-->
<!--                            <label class="control-label">-->
<!--                                Tên mã giảm giá-->
<!--                            </label>-->
<!--                            <span class="red_require"> *</span>-->
<!--                            <input type="text" class="form-input" th:field="*{detail}" placeholder="VD: Giảm giá 20.000..... r" required >-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="row mt-3">
                        <div class="col-sm-4">
                            <label class="control-label">
                                Phương thức giảm
                            </label>
                            <span class="red_require"> *</span>
                            <div>
                                <input type="radio" class="custom-radio" th:field="*{type}" th:value="1" th:checked="${DiscountCode.type == 1}">
                                <label th:for="type1">Giảm theo phần trăm</label>
                                <input type="radio" class="custom-radio" th:field="*{type}" th:value="2" th:checked="${DiscountCode.type == 2}">
                                <label th:for="type2">Giảm theo tiền</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-6" id="discount-by-money">
                            <label class="control-label">
                                Số tiền giảm
                            </label>
                            <span class="red_require"> *</span>
                            <input type="text" class="form-input" th:field="*{discountAmount}" placeholder="VD: 10000">
                        </div>
                        <div class="col-sm-3"  id="discount-by-percent">
                            <label class="control-label">
                                Phần trăm giảm
                            </label>
                            <span class="red_require"> *</span>
                            <input type="text" class="form-input" th:field="*{percentage}" placeholder="VD: 2">
                        </div>
                        <div class="col-sm-3"  id="max-amount-by-percent">
                            <label class="control-label">
                                Giảm tối đa
                            </label>
                            <span class="red_require"> *</span>
                            <input type="text" class="form-input" th:field="*{maximumAmount}" placeholder="VD: 20000">
                        </div>
                        <div class="col-sm-6">
                            <label class="control-label">
                                Số tiền áp dụng
                            </label>
                            <span class="red_require"> *</span>
                            <input type="text" class="form-input" th:field="*{minimumAmountInCart}" required placeholder="VD: 100000 nếu áp dụng cho đơn từ 100.000">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4">
                            <label class="control-label">
                                Số lượng tối đa
                            </label>
                            <span class="red_require"> *</span>
                            <input type="text" class="form-input" th:field="*{maximumUsage}" required placeholder="VD: 123">
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <a th:href="@{/admin/discount-code}" class="btn btn-outline-danger rounded mr-1">
                            Hủy
                            <!--                            <span *ngIf="showLoadding" class="spinner-border spinner-border-sm" role="status">-->
                            <!--                            </span>-->
                        </a>
                        <button type="submit" class="btn-submit cursor-pointer">
                            Lưu
<!--                            <span *ngIf="showLoadding" class="spinner-border spinner-border-sm" role="status">-->
<!--                            </span>-->
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" th:inline="javascript"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js" th:inline="javascript"></script>

    <script th:inline="javascript">
        $(document).ready(function () {
            var type = /*[[${DiscountCode.type}]]*/ '';
            $("#discount-by-money").hide()
            if(type == 2) {
                $("#discount-by-percent").hide()
                $("#max-amount-by-percent").hide()
                $("#discount-by-money").show()
            }

            $("#type1").on("click", function () {
                $("#discount-by-money").hide()
                $("#discount-by-percent").show()
                $("#max-amount-by-percent").show()
            })

            $("#type2").on("click", function () {
                $("#discount-by-money").show()
                $("#discount-by-percent").hide()
                $("#max-amount-by-percent").hide()

            })

            $("#percentage").on('input', function () {
                if(parseInt($(this).val()) > 100) {
                    $(this).val(100);
                    Toastify({
                        text: "Giảm giá tối đa 100%",
                        className: "error",
                        style: {
                            color: "white",
                            background: "red",
                        }
                    }).showToast();
                }
            })

            $("#discountAmount").on('keypress', function (e) {
                onlyAllowNumberInput(e)
            });

            $("#percentage").on('keypress', function (e) {
                onlyAllowNumberInput(e)
            });

            $("#minimumAmountInCart").on('keypress', function (e) {
                onlyAllowNumberInput(e)
            });

            $("#maximumUsage").on('keypress', function (e) {
                onlyAllowNumberInput(e)
            });

            function onlyAllowNumberInput(e) {
                const key = e.key;
                if (!/[\d\b]/.test(key)) {
                    e.preventDefault();
                }
            }

            function removeAnyNonDigit(value) {
                return value.replace(/\D/g, '');
            }


        })
    </script>
</div>
</body>
</html>