<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admin-layout.html}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="main-wrapper" layout:fragment="content">
        <div class="page-wrapper">
            <div class="content container-fluid">
                <div class="page-header">
                    Theo dõi giao dịch
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
</html>