<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout-user.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

<div layout:fragment="content">

    <!-- Title page -->
    <section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('images/bg-02.jpg');">
        <h2 class="ltext-105 cl0 txt-center">
            Đăng nhập
        </h2>
    </section>

    <!-- Content page -->
    <section class="bg0 p-b-60">
        <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-4">
                            <div th:if="${success}" class="alert alert-success">
                                <p th:text="${success}"></p>
                            </div>
                            <form class="mt-5 px-4 pt-4 pb-6 shadow-sm border" th:action="@{/user_login}" method="post" id="login-form">

                                <div class="form-group">
                                    <label for="email">Email:</label>
                                    <input type="text" class="form-control" id="email" name="email" placeholder="Địa chỉ email">
                                    <span class="error text-danger text-sm"></span>
                                </div>
                                <div class="form-group">
                                    <label for="password">Mật khẩu:</label>
                                    <input type="password" class="form-control" id="password" name="password" placeholder="Mật khẩu">
                                    <span class="error text-danger text-sm"></span>
                                </div>
                                <div class="form-check ml-3">
                                    <input type="checkbox" name="remember" class="form-check-input" id="remember" checked>
                                    <label class=""  for="remember">Nhớ mật khẩu</label>
                                </div>
                                <div th:if="${param.error}">
                                    <p class="text-danger">Tài khoản hoặc mật khẩu không chính xác</p>

                                </div>
                                <button type="submit" class="btn btn-primary w-100">ĐĂNG NHẬP</button>
                                <div class="forgot-password mt-3">
                                    <a href="/forgot-pass" class="float-right">Quên mật khẩu?</a>
                                </div>
                            </form>
                            <div class="signup-link mt-2">
                                <p>Bạn chưa có tài khoản? <a th:href="@{/register}">Đăng ký ngay!</a></p>
                            </div>
                        </div>
                    </div>
            </div>
    </section>
    <!-- Back to top -->
    <div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
    </div>


    <script>
        $(document).ready(function () {
            Validator({
                form: '#login-form',
                formGroupSelector: '.form-group',
                errorSelector: '.error',
                rules: [
                    Validator.isRequired('#email', 'Vui lòng nhập email'),
                    Validator.isRequired('#password', 'Vui lòng nhập mật khẩu'),
                    Validator.minLength('#password', 6),
                    Validator.maxLength('#email', 100),
                    Validator.isEmail('#email'),
                    Validator.maxLength('#password', 50),
                ]
            });
        })
    </script>
</div>


</body>
</html>