<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout-user.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="custom-modal" id="add-address-modal">
        <div class="modal-content rounded">
            <span class="close" id="closeModal">&times;</span>
            <div class="modal-header mb-1">
                <h5>Thông tin địa chỉ</h5>
            </div>
            <form id="address-form">
                <div class="rs1-select2 rs2-select2 bor8 bg0 m-b-12 m-t-9">
                    <select class="js-select2" name="district" id="district">

                    </select>
                    <div class="dropDownSelect2"></div>
                </div>

                <div class="rs1-select2 rs2-select2 bor8 bg0 m-b-12 m-t-9">
                    <select class="js-select2" name="ward" id="ward">

                    </select>
                    <div class="dropDownSelect2"></div>
                </div>

                <div class="bor8 bg0 m-b-12">
                    <input class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" name="street" id="street"
                           placeholder="Số nhà, đường, xóm">
                </div>
                <button type="button" class="btn btn-primary mt-2 w-100" id="save-address-btn">Lưu</button>
            </form>

        </div>
    </div>

    <div class="d-flex flex-column w-100" style="background-color: rgb(249, 249, 249);">
        <div class="page-wrapper">
            <div class="d-flex justify-content-center">
                <div class="page-right">
                    <h3 class="title">Quản lý tài khoản</h3>
                    <div>
                        <!-- Tab items -->
                        <div class="tab-bills">
                            <div class="tab-item active">
                                Chỉnh sửa thông tin
                            </div>
                            <div class="tab-item">
                                Đổi mật khẩu
                            </div>
                            <div class="line"></div>
                        </div>

                        <!-- Tab content -->
                        <div class="tab-content">
                            <div class="tab-pane active">
                                <form th:action="@{/update-profile}" method="post" id="profile-form">
                                    <h4 class="subtitle my-3">Thông tin cá nhân</h4>
                                    <div class="alert alert-success" th:if="${successMessage != null}" th:text="${successMessage}"></div>
                                    <div class="alert alert-danger" th:if="${errorMessage != null}" th:text="${errorMessage}"></div>
                                    <div class="row mt-3">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    Họ và tên
                                                </label>
                                                <input type="text" class="form-control" name="name" id="name" th:value="${profile.name}">
                                                <span class="error text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-sm-6">
                                            <label  class="control-label">
                                                Email
                                            </label>
                                            <input type="text" class="form-control" name="email" th:value="${profile.email}" readonly>
                                        </div>
                                        <div class="col-sm-6">
                                           <div class="form-group">
                                               <label class="control-label">
                                                   Số điện thoại
                                               </label>
                                               <input type="text" class="form-control" id="phoneNumber" th:value="${profile.phoneNumber}" name="phoneNumber">
                                               <span class="error text-danger"></span>
                                           </div>
                                        </div>
                                    </div>
                                    <div class="btn-save-group">
                                        <button class="btn-save btn-save-profile">Lưu thay đổi</button>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-sm-12">
                                            <label class="control-label">
                                                Địa chỉ giao hàng
                                            </label>
                                            <div id="address-list">
                                                <div th:each="address: ${profile.addressShippingList}">
                                                    <div class="d-flex align-items-center justify-content-between my-1">
                                                        <span>
                                                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                            <span th:text="${address.address}"></span>
                                                        </span>
                                                        <span class="text-danger cursor-pointer delete-address-btn" th:address-id="${address.id}">
                                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="button" class="bg2 size-102" id="add-address">Thêm địa chỉ +</button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                            <div class="tab-pane">
                                <form id="change-password-form" th:action="@{/change-password}" method="post">
                                    <h4 class="subtitle my-3">Đổi mật khẩu</h4>
                                    <div class="row mt-3">
                                        <div class="col-sm-6">
                                            <label  class="control-label">
                                                Mật khẩu hiện tại
                                            </label>
                                            <div class="form-group">
                                                <input type="password"
                                                       class="form-control" id="currentPassword" name="currentPassword">
<!--                                                <i class="fa-solid" style="margin: 10px 0 0 -30px; cursor: pointer;"-->
<!--                                                   [ngClass]="{'fa-eye': currentPasswordVisible, 'fa-eye-slash': !currentPasswordVisible }"-->
<!--                                                   (click)="togglePasswordVisibility()"></i>-->
                                                <span class="error text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-sm-6">
                                            <label class="control-label">
                                                Mật khẩu mới
                                            </label>
<!--                                            <span class="red_require"> *</span>-->
                                            <div class="form-group">
                                                <input type="password"
                                                       class="form-control" id="newPassword" name="newPassword">
<!--                                                <i class="fa-solid" style="margin: 10px 0 0 -30px; cursor: pointer;"-->
<!--                                                   [ngClass]="{'fa-eye': newPasswordVisible, 'fa-eye-slash': !newPasswordVisible }"-->
<!--                                                   (click)="toggleNewPasswordVisibility()"></i>-->
                                                <span class="error text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-sm-6">
                                            <label class="control-label">
                                                Xác nhận mật khẩu mới
                                            </label>
                                            <div class="form-group">
                                                <input type="password"
                                                       class="form-control" id="confirmPassword" name="confirmPassword">
<!--                                                <i class="fa-solid" style="margin: 10px 0 0 -30px; cursor: pointer;"-->
<!--                                                   [ngClass]="{'fa-eye': confirmPasswordVisible, 'fa-eye-slash': !confirmPasswordVisible }"-->
<!--                                                   (click)="toggleConfirmPasswordVisibility()"></i>-->
                                                <span class="error text-danger"></span>

                                            </div>
                                        </div>
                                        <div class="btn-save-pass-group">
                                            <button class="btn-save btn-save-pass">Lưu thay đổi</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            Validator({
                form: '#profile-form',
                formGroupSelector: '.form-group',
                errorSelector: '.error',
                rules: [
                    Validator.isRequired('#phoneNumber', 'Vui lòng nhập số điện thoại'),
                    Validator.isRequired('#name', 'Vui lòng nhập họ tên'),
                    Validator.minLength('#name', 2),
                    Validator.maxLength('#name', 50),
                    Validator.maxLength('#phoneNumber', 12),
                    Validator.minLength('#phoneNumber', 10),
                ],
            })

            Validator({
                form: '#change-password-form',
                formGroupSelector: '.form-group',
                errorSelector: '.error',
                rules: [
                    Validator.isRequired('#currentPassword', 'Vui lòng nhập mật khẩu hiện tại'),
                    Validator.minLength('#currentPassword', 6),
                    Validator.isRequired('#newPassword', 'Vui lòng nhập mật khẩu mới'),
                    Validator.minLength('#newPassword', 6),
                    Validator.maxLength('#newPassword', 50),

                    Validator.isRequired('#confirmPassword', 'Vui lòng nhập nhập lại mật khẩu mới'),
                    Validator.maxLength('#confirmPassword', 50),
                    Validator.minLength('#confirmPassword', 6),
                    Validator.isConfirmed('#confirmPassword', () =>  {
                        return document.querySelector('#change-password-form #newPassword').value;
                    }, 'Mật khẩu nhập lại không chính xác'),
                ],
            })


            $("#phoneNumber").on('keypress', function (e) {
                onlyAllowNumberInput(e)
            });

            function onlyAllowNumberInput(e) {
                const key = e.key;
                if (!/[\d\b]/.test(key)) {
                    e.preventDefault();
                }
            }

            const tabs = document.querySelectorAll(".tab-item")
            const panes = document.querySelectorAll(".tab-pane")
            const tabActive = document.querySelector(".tab-item.active")
            const line = document.querySelector(".tab-bills .line")

            line.style.left = tabActive.offsetLeft + "px";
            line.style.width = tabActive.offsetWidth + "px";

            tabs.forEach((tab, index) => {
                const pane = panes[index];

                if( tab instanceof HTMLElement) {
                    tab.onclick = function () {
                        document.querySelector(".tab-item.active")?.classList.remove("active");
                        document.querySelector(".tab-pane.active")?.classList.remove("active");

                        line.style.left = tab.offsetLeft + "px";
                        line.style.width = tab.offsetWidth + "px";

                        tab.classList.add("active");
                        pane.classList.add("active");
                    };
                }
            })

            var addressSelected = {
                street: '',
                ward: '',
                district: '',
                province: 'Hà Nội',

            }

            var province = []
            var district = []
            var ward = []

            $.ajax({
                type: 'GET',
                dataType: "json",
                url: `https://vapi.vnappmob.com/api/province/district/01`,
                success: function (data) {
                    district = data.results.map(item => ({ value: item.district_id, label: item.district_name }))
                    loadDistrictSelect(data)
                }
            })

            function loadDistrictSelect(data) {
                district = data.results.map(item => ({ value: item.district_id, label: item.district_name }))

                var selectElement = document.getElementById("district");

                selectElement.innerHTML = '';

                var defaultOption = document.createElement("option");
                defaultOption.text = "Chọn quận, huyện";
                defaultOption.value = ""
                selectElement.appendChild(defaultOption);

                for (var i = 0; i < data.results.length; i++) {
                    var option = document.createElement("option");
                    option.text = data.results[i].district_name;
                    option.value = data.results[i].district_id;
                    selectElement.appendChild(option);
                }
            }

            $("#district").on('change', async function () {
                var districtId = $(this).val()

                if (districtId == "") {
                    $("#ward").html('')
                } else {
                    const selectedOption = district.find((option) => option.value === districtId)
                    addressSelected.district = selectedOption.label
                    await $.ajax({
                        type: 'GET',
                        dataType: "json",
                        url: `https://vapi.vnappmob.com/api/province/ward/${districtId}`,
                        success: function (data) {
                            ward = data.results.map(item => ({value: item.ward_id, label: item.ward_name}))
                            loadWardSelect(data)
                        }
                    })
                }

            })

            function loadWardSelect(data) {
                var selectElement = document.getElementById("ward");

                selectElement.innerHTML = '';

                var defaultOption = document.createElement("option");
                defaultOption.text = "Chọn phường, xã";
                defaultOption.value = ""
                selectElement.appendChild(defaultOption);

                for (var i = 0; i < data.results.length; i++) {
                    var option = document.createElement("option");
                    option.text = data.results[i].ward_name;
                    option.value = data.results[i].ward_id;
                    selectElement.appendChild(option);
                }
            }

            $("#ward").on('change', function () {
                const selectedOption = ward.find((option) => option.value === $(this).val());
                addressSelected.ward = selectedOption.label
            })

            $('#add-address').on('click', function () {
                $('#add-address-modal').show()
            })

            $('.close').on('click', function () {
                $(this).closest('.custom-modal').hide()
            })

            $("#save-address-btn").on('click', function () {

                // const province = $("#province").val()
                const district = $("#district").val()
                const ward = $("#ward").val();
                const street = $("#street").val().trim()
                if (district == "" || ward == "" || street == "") {
                    swal("Lỗi", "Vui lòng nhập đầy đủ địa chỉ")
                }else {
                    addressSelected.street = street
                    var dataSend = {
                        address: Object.entries(addressSelected)
                            .filter(([key, value]) => value !== null && value !== '')
                            .map(([key, value]) => value)
                            .join(', ')
                    }
                    $.ajax({
                        type: 'POST',
                        contentType: "application/json; charset=utf-8",
                        url: `api/public/addressShipping`,
                        data: JSON.stringify(dataSend),
                        success: function (data) {
                            const content = `
                                           <p>
                                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                    <span>${data.address}</span>
                                                </p>`

                            $('#address-list').append(content)
                        },
                        error: function (xhr, status, error) {
                            $('#loading-overlay').hide();
                            swal("Lỗi", xhr.responseJSON.message, "error")
                        }
                    })
                    $("#add-address-modal").hide()
                }
            })

            $('.delete-address-btn').on('click', function () {
                const id = $(this).attr('address-id')
                $.ajax({
                    type: 'DELETE',
                    contentType: "application/json; charset=utf-8",
                    url: `api/deleteAddress/${id}`,
                    success: function (data) {
                        window.location.reload()
                    }
                })
            })

        })
    </script>
</div>
</body>
</html>