<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="page_head(title)">
    <meta charset="UTF-8">
    <title>[[${title}]]</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

<!--    <link rel="stylesheet" th:href="@{/admin/vendors/bootstrap/dist/css/bootstrap.min.css}">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
    <link rel="stylesheet" th:href="@{/admin/vendors/font-awesome/css/font-awesome.min.css}">

    <link rel="stylesheet" th:href="@{/admin/vendors/themify-icons/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/admin/vendors/flag-icon-css/css/flag-icon.min.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">
    <script
            src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
    <style>
        td {
            max-width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
    <link rel="stylesheet" th:href="@{/admin/assets/css/style.css}">

    <script th:src="@{/js/sweetalert.min.js}"></script>

</head>
<body>

    <th:block th:fragment="script">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://unpkg.com/@popperjs/core@2" ></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
        <script th:inline="javascript" th:src="@{/admin/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
        <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script th:inline="javascript" th:src="@{/admin/assets/js/main.js}"></script>
        <script th:src="@{/admin/assets/js/validator.js}"></script>

        <script>
            function confirmChangeStatus(statusMessage, statusCode, e) {
                e.stopPropagation()
                Swal.fire({
                    title: "Xác nhận?",
                    text: `Xác nhận chuyển sang ${statusMessage}`,
                    icon: "warning",
                    showCancelButton: true,
                    cancelButtonText: 'Hủy',
                    confirmButtonText: 'Xác nhận',
                    reverseButtons: true
                }).then((result) => {
                    if (result.isConfirmed) {
                        const form = e.target.closest(".cancelForm");
                        var url = form.action + `?trangThaiDonHang=${statusCode}`
                        window.location.href = url
                    }
                });
            }

            function confirmChangeReturnStatus(statusMessage, e) {
                e.stopPropagation()
                Swal.fire({
                    title: "Xác nhận?",
                    text: `Xác nhận chuyển sang ${statusMessage}`,
                    icon: "warning",
                    showCancelButton: true,
                    cancelButtonText: 'Hủy',
                    confirmButtonText: 'Xác nhận',
                    reverseButtons: true
                }).then((result) => {
                    if (result.isConfirmed) {
                        const form = e.target.closest(".changeStatusForm");
                        form.submit()
                    }
                });

            }
        </script>
    </th:block>
</body>
</html>